.navbar{
    background-color:rgb(12, 12, 12);
}

.nav-link{
 color:rgb(197, 10, 10);
 box-shadow: 0 4px 8px 0 rgba(170, 22, 22), 0 6px 15px 0 rgba(170, 22, 22);
 margin-left:15px;
}

.nav-link:hover{
color:white;
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
background: linear-gradient(rgb(253, 2, 2), grey);
}

.navbar-nav{
    margin-left: auto;
    margin-right: auto;
}

.btn{
    box-shadow: 0 4px 8px 0 rgba(170, 22, 22), 0 6px 15px 0 rgba(170, 22, 22);
    margin-left:10px;
    background-color:black;
    color:rgb(197, 10, 10);
}

.btn:hover{
    color:white;
    background-color:white;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background: linear-gradient(rgb(230, 3, 3), grey);
}

.form-control{
    background: linear-gradient(red, black);
    border: 1px solid black;
}

input[type=search]:focus {
    outline: none;
    color:white;
    box-shadow: 0 4px 8px 0 rgba(170, 22, 22), 0 6px 15px 0 rgba(170, 22, 22);
    border:1px solid rgb(184, 3, 3);
  }
  